<div class="navigation">
    <nav>
        <ul>
            <li class="left">
                <a href="/">Fix-it</a>
                {{!-- <img src="img/logo-rev.png" alt="Fixit Logo" class="logo"> --}}
            </li>
            <li>
                <a id="eng" href="/engineers">For Engineers</a>
            </li>
            <li>
                <a id="wwd" href="/wwd">What we Do</a>
            </li>
            <li>
                <a id="hiw" href="/hiw">How it Works</a>
            </li>
        </ul>
    </nav>
</div>