<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not Found</title>
</head>
<body>
    <h4 style="text-align: center;">Error 404: The requested page: {{route}} was not found on the server</h4>
    <div style="text-align:center;">
        Go back to <a href="/">home</a>
    </div>
</body>