<head>
    <title>What we Do</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/wwd.css">
    <style>
        footer {
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
        }
    </style>
</head>

<body>
    {{>navigation}}
    <h3>What we Do</h3>
    <article style="padding: 10px;">
        Here at Fix-it, we understand the value that certain objects have to their owners.
        <br>
        <br> We realise that simply because a phone or laptop is old and a few keys don't work, it doesn't necessarily need to
        be replaced with a newer model.
        <br>
        <br> Whether your problem is the money to buy a new item or the sentimental value attached to
        <em>your</em> device, we're here to help.
        <br>
        <br> <a href="/signup">Create an Account</a>, or <a href="/signin">log in to your Account</a>, create a new Repair Request, and sit back and relax, your device is in safe
        hands.
        <br>
        <br> If it's broken, we can fix it....
    </article>
    {{>footer}}
</body>