body {
    font-family: sans-serif;
    background-color: #d9d9d9;
}

h2 {
    text-align: center;
}

form {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

input:disabled {
    background-color: transparent;
}

input {
    width: 80%;
    height: 3em;
    border: 1px solid gray;
    padding: 5px;
}

textarea {
    height: 10em;
    width: 80%;
    padding: 5px;
}

input:focus, textarea:focus {
    outline: none;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 150px;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    border: 3px solid #4484CE;
}

.button:hover {
    background-color:  #4484CE;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

#errorDiv {
    color: red;
    text-align: center;
    font-weight: bold;
}